/*commun*/

body {
    /**/
    padding:0;
    margin:0;
}

.inl_bl{
    display: inline-block
}

.space_bt
{
    display:flex;
    justify-content: space-between;
}

.valign_t{
    vertical-align:top;
}

h1{
    text-align:center;
}

.cadre_centre{
    margin:auto;
    border: black solid 1px;
    padding: 10px
}

.form_submit{
    width: 100px;
    margin:auto;
    padding : 0;
}

.red_label{
    color: red;
}
.green_label{
    color: green;
}
.grey_label{
    color: #afb7c0;
}


thead td {
    font-weight: bold;
}

/* ******* Header ****** */

header{
    background: black;
    color:white;
}

#connecte{

}

/*******footer*****/
footer
{
    background: #000;
    color: white;
    padding: 10px;
}


/***Page d'accueil (connexion)***/
#blackback
{
    background: black;
    color:white;
}

#connexion
{
    margin: auto;
    width: 700px;
    text-align: center;
    padding-bottom: 90px;
    margin-bottom : 10px;
}

#connexion h2{
    margin:0;
}
#connexion a{
    color: white;
}
#connexion a:hover{
    color: blue;
}
#connexion #logo{
    width:600px;
}

#connexion form
{
    padding-top:10px;
    margin: auto;
    width: 300px;
}

/****menu*/

.menu a{
    text-decoration:none;
}

.bloc_menu {
    margin:0;
    padding:0;
    display: inline-block;
    width: 49.85%;
    border-width:0;

    color: white;
    font-family: "DejaVu Sans";
    text-align: center;
    vertical-align: middle;
}

.bloc_main{
    padding-top: 51px;
    padding-bottom: 51px;
}
.bloc_secondary{
    padding-top: 112px;
    padding-bottom: 112px;
}
.color1{
    background-color: blue;
}

.color2 {
    background-color:  red;

}
.color3{
    background-color: green;
}
.color0{
    background-color: white;
    color:black !important;
}
/*grey*/
/*darkgrey*/
/*dimgrey*/

/* * Achats * */
/* **liste achats ** */
#recherche{
    width:480px;
    margin-left:auto;
    border : black solid 1px;
    padding : 10px
}
#total{
    display:inline-block;
    border : black solid 1px;
    padding:10px;
    margin-bottom:20px;
}

/* **ajouter et modifier achat ** */

#div_internet, #div_prix_unite, #div_pnl, #div_essence{
    display:none;
}

#ajout_achat, #modif_achat {
    width: 600px;
}
#ajout_achat textarea, #modif_achat textarea{
    max-width: 390px;
}

/**detail d'un achat **/

#detail_achat{
    width: 650px;
}

/**ajout rapide d'achats**/
#ar_achat{
    width: 400px;
}

/*****boutons*****/
.push_button {
    position: relative;
    width:120px;
    height:35px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-family:'Oswald', Helvetica;
    display: block;
    margin: 5px;
}

.push_button:before {
    background:#f0f0f0;
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    -moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;
    box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 1px 0 #FFF;

    position: absolute;
    content: "";
    left: -6px; right: -6px;
    top: -6px; bottom: -10px;
    z-index: -1;
}

.push_button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
}
.push_button:active:before{
    top: -11px;
    bottom: -5px;
    content: "";
}

.red_button {
    text-shadow:-1px -1px 0 #A84155;
    background: #D25068;
    border:1px solid #D25068;

    background-image:-webkit-linear-gradient(top, #F66C7B, #D25068);
    background-image:-moz-linear-gradient(top, #F66C7B, #D25068);
    background-image:-ms-linear-gradient(top, #F66C7B, #D25068);
    background-image:-o-linear-gradient(top, #F66C7B, #D25068);
    background-image:linear-gradient(to bottom, #F66C7B, #D25068);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
}
.red_button:hover {
    background: #F66C7B;
    background-image:-webkit-linear-gradient(top, #D25068, #F66C7B);
    background-image:-moz-linear-gradient(top, #D25068, #F66C7B);
    background-image:-ms-linear-gradient(top, #D25068, #F66C7B);
    background-image:-o-linear-gradient(top, #D25068, #F66C7B);
    background-image:linear-gradient(top, #D25068, #F66C7B);
}

.blue_button {
    text-shadow:-1px -1px 0 #2C7982;
    background: #3EACBA;
    border:1px solid #379AA4;
    background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
    background-image:linear-gradient(top, #48C6D4, #3EACBA);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    -moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
    box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}
.blue_button:hover {
    background: #48C6D4;
    background-image: -webkit-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -moz-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -ms-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: -o-linear-gradient(top, #3EACBA, #48C6D4);
    background-image: linear-gradient(top, #3EACBA, #48C6D4);
}